<tr>
  <td><h3><%= link_to location.address, edit_admin_location_path(location) %></h3></td>
  <td class="action-links"><%= link_to "Edit", edit_admin_location_path(location), :class => "btn" %></td>
</tr>