<div class="activity">
  <div class="map">
    <%= image_tag("http://placehold.it/150x100") %>
  </div>
  <div class="info">
    <h3><%= location.address %></h3>
    <p>3.0 km away</p>
  </div>
</div>
