<div class="location">
  <div class="map">
    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=120x100&sensor=false&zoom=15&markers=#{location.latitude}%2C#{location.longitude}" %>
  </div>
  <div class="info">
    <h3><%= location.address %></h3>
    <p><%= location.distance_from([session[:latitude].to_f,session[:longitude].to_f]).round(2) %> miles</p>
  </div>
</div>
