<div class="location">
  <div class="info row">
    <div class="span9">
      <h3><%= trail.name %></h3>
    </div>
    <div class="span3">
      <%= link_to "Join", join_mobile_quest_path(trail.id), :class => "btn primary success" %>
    </div>
  </div>
</div>
