/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap.min
 *= require_self
*/


body {
  background-color: #FFF5C6;
}

.header {
  position: fixed;
  height: 45px;
  background-color: #134A84;
  color: #EBE1A4;
  font-family: 'Rammetto One', cursive;
  font-size: 20px;
  width: 100%;
  text-align: center;
  line-height: 45px;
  vertical-align: middle;
}

.content {
  padding-top: 50px;
}


.user_info p {
  margin: 15px 60px 0 0;
  line-height: 24px;
}

.user_info img {
  float: right;
}

.content h1 {
  font-size: 40px;
  font-family: 'Rammetto One', cursive;
  text-shadow: 2px 2px 2px #F2CB8A;
  filter: dropshadow(color=#F2CB8A, offx=2, offy=2);
}
.content {
  color: #333;
}

.profile {
  padding: 5px;
}

.profile img {
  margin: 0 5px 0 5px;
  float: left;
}

.profile p {
  margin: 5px 0 0 70px;
  font-size: 16px;
  line-height: 20px;
  font-family: 'Rammetto One', cursive;
  text-shadow: 2px 2px 2px #F2CB8A;
  filter: dropshadow(color=#F2CB8A, offx=2, offy=2);
  overflow: hidden;
}

.profile p span {
  color: #74B106;
  font-size: 12px;
}

.checkin {
  background-color: #F2CB8A;
  padding: 5px;
  margin: 10px;
  text-align: center;
}

.checkin p {
  font-weight:bold;
  margin: 0;
}

.checkin h3 {
  font-family: 'Rammetto One', cursive;
  text-shadow: 2px 2px 2px #eee;
  filter: dropshadow(color=#eee, offx=2, offy=2);
}

.checkin a {
  margin-bottom: 5px;
}

ul.activity {
  width: 320px;
  margin: 0 auto;
}

ul.activity a {
  margin: 10px 0 20px 15px;
}

.more {
  background-color: #7F9177;
  padding: 10px;
  text-align: center;
  font-family: 'Rammetto One', cursive;
  text-shadow: 2px 2px 2px #F2CB8A;
  filter: dropshadow(color=#F2CB8A, offx=2, offy=2);
}

.location {
  background-color: #7F9177;
  padding: 0 10px 10px 10px;
  height: 100px;
}

.location .map {
  float: left;
}

.location .info {
  margin: 0 0 0 130px;
  font-family: 'Rammetto One', cursive;
  text-shadow: 2px 2px 2px #F2CB8A;
  filter: dropshadow(color=#F2CB8A, offx=2, offy=2);
}

.location .info h3 {
  font-size: 16px;
}


.reward {
  height: 80px;
  padding: 10px;
  font-size: 16px;
  background-color: #fff;
  border: 5px solid #7F9177;
  width: 400px;
  margin: 20px 0 0 0;
}

.reward img {
  float: left;
  width: 80px;
  height: 80px;
}

.reward p {
  margin: 15px 0 0 100px;
  color: #7F9177;
  font-size: 16px;
  line-height: 24px;
}
