<tr>
  <td><h3><%= location.address %></h3></td>
  <td class="action-links"><%= link_to "Delete", admin_trail_trail_location_path(trail, id), :method => :delete, :class => "btn danger", :confirm => "Are you sure?" %></td>
</tr>